
<div class="container">

  <h1>All Plants</h1>

  <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: plantes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Look for plant"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
  </div>

  <%# Plant card %>
    <% if @plantes.any? %>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @plantes.each do |plante| %>
      <div>
        <div class="col">
            <% if plante.image.attached?%>
            <div class="card">
              <a href="<%= plante_path(plante) %>">
               <%= cl_image_tag plante.image.key, class: "object-fit-cover", width: "100%", height: "300px" %>
              </a>
            </div>
            <% else %>
              <%= image_tag "No_images_available.webp", alt: plante.name, width: "100%", height: "300px" %>
            <% end %>
             <div>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              <h5 class="fw-bold"><%= plante.name %></h5>
              <p class="fst-italic"><%= plante.variety %></p>
              <p class="card-trip-pricing"><%= plante.price %>$</p>
              <% if plante.user == current_user %>
              <% else %>
                <% request = Request.new(user: current_user, plante: plante) %>
                <%= link_to "Make a request", plante_requests_path(plante), data: { turbo_method: :post }, class: 'btn btn-outline-primary' %>
              <% end %>
              </div>
        </div>
      </div>
    <% end %>

    <% else %>
      <em>Sorry, no plants found for <%= params[:query] %>.</em>
    <% end %>
  </div>

  <%= link_to "Add a plant", new_plante_path %>

  <%= link_to 'my requests', requests_path %>

</div>
