
<div>

  <h1>All Plants</h1>

  <%# Plant card %>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @plantes.each do |plante| %>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://fleuristeladiva.ca/boutique/image/cache/catalog/Plantes%20/Fleuriste_la_diva_plante_schefflera_plante_int%C3%A9rieure_Laval-550x550.jpg" class="card-img-top" alt="<%= plante.name %>">
          <div class="card-body">
            <h5 class="card-title"><%= plante.name %></h5>
            <p class="card-text"><%= plante.variety %></p>
            <p class="card-text"><%= plante.price %>$</p>
            <%= link_to "View details", plante_path(plante) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "Add a plant", new_plante_path %>

  <%= link_to 'my requests', requests_path %>

</div>
