
<div>

  <h1>All Plants</h1>

  <%# Plant card %>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @plantes.each do |plante| %>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div>
            <% if  plante.image.attached?%>
              <%# <%= cl_image_tag plante.image.key, height: 300, width: 300, crop: :fill %> %>
            <% else %>
              <img src="/assets/No_images_available.webp" alt="<%= plante.name %>" height="300px" width="100%">
            <% end %>
  </div>
          <div class="card-body">
            <h5 class="card-title"><%= plante.name %></h5>
            <p class="card-text"><%= plante.variety %></p>
            <p class="card-text"><%= plante.price %>$</p>
            <%= link_to "View details", plante_path(plante) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "Add a plant", new_plante_path %>

  <%= link_to 'my requests', requests_path %>

</div>
