<div class="container">
  <%# Title %>
  <div class="row py-5">
    <div class=col-10>
      <h1>My Plants</h1>
    </div>
    <div class=col-2>
      <%= link_to "Add a plant", new_plante_path, class: 'btn-flat text-decoration-none' %>
    </div>
    <%# grid %>
    <div class="cards">

      <%# card %>
      <% @myplants.each do |plante| %>
        <div class="card-product">
          <div class="card-product-info">
            <a href ="<%= plante_path(plante) %>">
              <%# plante image %>
              <% if  plante.image.attached?%>
                <%= cl_image_tag plante.image.key, height: 300, width: 300, crop: :fill %>
              <% else %>
                <%= image_tag "No_images_available.webp", alt: plante.name, width: "300px", height: "100%" %>
              <% end %>
              <%# plante info %>
              <div class="card-product-text">
                <h5><strong><%= plante.name %></strong></h5>
                <p><%= plante.variety %></p>
                <p><%= plante.price %>$</p>
              </div>
            </a>
          </div>
          <%# Offers status %>
          <div class="card-product-offer">
            <h4>Offers</h4>
            <% if plante.requests.any? %>
              <% plante.requests.each do |request| %>
                <% if request.status.nil? %>
                  <p>Offer from <strong><%= request.user.first_name %></strong>
                  <%= link_to "Accept", accept_path(request), data: { turbo_method: :patch }, class:"accept" %>
                  <%= link_to "Reject", reject_path(request), data: { turbo_method: :patch }, class:"reject" %></p>
                <% elsif request.status == true %>
                  <p>Offer from <strong><%= request.user.first_name %></strong> accepted <i class="fa-solid fa-check" style="color: #30f260; margin-left: 15px;"></i></p>
                <% else %>
                  <p>Offer from <strong><%= request.user.first_name %></strong> rejected <i class="fa-solid fa-xmark" style="color: #ff381e; margin-left: 15px"></i></p>
                <% end %>
              <% end %>
            <% else %>
              <p>No offer made yet</p>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
