<div class="container p-5">
  <h1 class="p-3">Add a new plant</h1>
    <%= simple_form_for (@plante) do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :variety, collection: [ "Monstera", "Pothos", "Succulent", "Bonsai", "Palm", "Snake", "Tropical", "Fern", "Ficus" ]  %>
    <%= f.input :description %>
    <%= f.input :image %>
    <%= f.button :submit, "Add plant", class: 'btn btn-primary' %>
  <% end %>
</div>
