<div class="container d-flex">
  <div>
    <% if  @plante.image.attached?%>
      <%= cl_image_tag @plante.image.key, height: 300, width: 300, crop: :fill %>
    <% else %>
      <%= image_tag "No_images_available.webp", alt: @plante.name, width: "300px", height: "100%" %>
    <% end %>
  </div>
  <div>
    <h1 class='p-5'><%= @plante.name %></h1>

    <p><%= @plante.variety %></p>
    <p><%= @plante.description %></p>
    <p><%= @plante.price %>$</p>
      <% if @plante.description %>
        <p><%= @plante.description %></p>
      <% end %>
  </div>
</div>

<div class="container d-flex">
  <button type="button" class="btn btn-outline-primary align-right">
    <%= link_to "Back to plants", plantes_path %>
  </button>
  <button type="button" class="btn btn-outline-primary align-right">
  <%= link_to "Request this plant", plante_requests_path(@plante), data: { turbo_method: :post } %>
  </button>
</div>
