<div class="container d-flex">
  <div>
    <% if  @plante.image.attached?%>
      <%= cl_image_tag @plante.image.key, height: 300, width: 300, crop: :fill %>
    <% else %>
      <img src="/assets/No_images_available.webp" alt="<%= @plante.name %>" height="100%" width="300px">
    <% end %>
  </div>
  <div>
    <h1><%= @plante.name %></h1>

    <p><%= @plante.variety %></p>
    <p><%= @plante.price %>$</p>
    <% if @plante.description %>
      <p><%= @plante.description %></p>
    <% end %>
  </div>
</div>
<%= link_to "Back to plants", plantes_path %>
<%= link_to "Request this plant", plante_requests_path(@plante), data: { turbo_method: :post } %>
