<h1><%= @plante.name %></h1>

<img src="asset/plant" alt="<%= @plante.name %>">

<%= @plante.variety %>
<%= @plante.description %>
<p><%= @plante.price %></p>
<%= cl_image_tag @plante.image.key, height: 300, width: 400, crop: :fill %>

<%= link_to "Back to plants", plantes_path %>
