<div class="container">
  <h1 class="py-5">My outgoing requests</h1>


  <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: plantes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Look for plant"
        %>
      <%= submit_tag "Search", name: "", class: "btn-flat text-decoration-none" %>
    <% end %>
  </div>
  </div>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @requests.each do |request| %>
      <div class="col">
       <% if  request.plante.image.attached?%>
          <div class="card">
            <a href="<%= plante_path(request.plante) %>">
             <%= cl_image_tag request.plante.image.key, class: "object-fit-cover", width: "100%", height: "300px" %>
            </a>
          </div>
        <% else %>
          <%= image_tag "No_images_available.webp", alt: request.plante.name, width: "100%", height: "300px" %>
        <% end %>
          <div class="card-body">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            <h5 class="card-title"></h5>
            <p class="fw-bold">Seller: <%= request.plante.user.first_name %></p>
            <p class="fst-italic">status:
              <% if request.status.nil? %>
                pending
              <% elsif request.status == true %>
                approved
              <% else %>
                declined
              <% end %>
                <p>Plante name: <%= request.plante.name %></p>
                <%= link_to "Cancel request", cancel_path(request), data: { turbo_method: :delete } %>
          </div>
      </div>
    <% end %>
  </div>
</div>
